@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #463d3a;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    margin: 1rem;
    color: white;
}

.box {
    background-color: #acb28f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 12rem;
    margin: 12px;
    border-radius: 0.6rem;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0%);
}

h2 {
    font-size: 2rem;
}